# ignore rules

# junk
*~
.DS_Store

# the default build locations
/builds
/products

# Byte-compiled / optimized
__pycache__/
*.py[cod]

# the synthetic data from the mogi model
/models/mogi/examples/synthetic/*.txt
/models/mogi/examples/synthetic/*.csv

# auctex lint
/doc/**/auto
# tex lint
/doc/**/*.aux
/doc/**/*.bbl
/doc/**/*.blg
/doc/**/*.log
/doc/**/*.nav
/doc/**/*.out
/doc/**/*.snm
/doc/**/*.toc
/doc/**/*.vrb
# ignore pdfs
/doc/**/*.pdf
# but not those that are figures
!doc/**/figures/*.pdf

# machine dependent config
/.mm/config.mm

# example results
results/

# end of file
