# ignore rules

# junk
*~
__pycache__
.DS_Store

# the default build locations
/builds
/products

# the synthetic data from the mogi model
/models/mogi/examples/synthetic/*.txt

# auctex lint
/doc/**/auto
# tex lint
/doc/**/*.aux
/doc/**/*.bbl
/doc/**/*.blg
/doc/**/*.log
/doc/**/*.nav
/doc/**/*.out
/doc/**/*.snm
/doc/**/*.toc
/doc/**/*.vrb
# ignore pdfs
/doc/**/*.pdf
# but not those that are figures
!doc/**/figures/*.pdf

# end of file
